/* Miscellaneous */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#footer{
  text-align: center;
  background-color: gray;
  padding: 3%;
  height: 30%;
  box-shadow: 0 50vh 0 50vh;
  min-height: 200px;
}
#footer > span{
  
}
input {
  border: 1px solid #000;
}
/**********/

/*Meeting Item*/
#togglebutton{
  background-color: #00A160 !important;
}
/***************/

/*Home Page*/
#carousel{
  grid-row: 30/110 !important;
  grid-column: 1/102 !important;
  border-bottom: 1px;
}
.slider-wrapper.axis-horizontal{

  height: 47rem !important;
}
.slider img{
  box-shadow: #000; 
}
#home {
  text-align:center;
  background-color:#00A160;
  display: grid;
  grid-template-columns: repeat(100,1vw);
  grid-template-rows: repeat(200,1vh);
}
#home #homebar{
  grid-column: 1/101;
  grid-row:101/140;
  background-color: #00A160 ;
  filter: darken(10%); 
}
#home #middle{
  grid-column:34/67;
  grid-row:139/170;
  opacity:0.7;
  background-color:black;
}
#home > #left{
  grid-column: 1/34;
  grid-row: 139/170;
}
#home > #bottombar{
  grid-row: 101/140;
  grid-column: 1/101;
}

#home > #nl_tag{
  padding-top: 2%;
  grid-row: 1/30;
  grid-column: 1/101;
  text-align: center;
  color: white;
  font-family: cursive;
}

.home_title{
  color: white !important;
}
/**************/

/*MentorHomePage*/
.upcoming_event > a{
  color: white;
}
.mentor_home{
  background-color: white;
  color: #00A160 !important;
}
.upcoming_event{
  background-color: #00A160;
  border-radius: 3.2%;
  margin: 2%;
  left: 30%;
  position: relative;
  width: 40%;
  text-align: center !important;
}
#eventWrapper{
  grid-column: 1/2 !important;
  padding: 20px !important;
}
/**************/

/*Navbar*/
#img_logo {
  height:80%;
  width:80%;
  padding-right: 0%;
  padding-top: 5vh;
}
#logo_a{
  width: 15%
}
#topnav{
  background-color:white !important;
  height: 13vh;
}
#topnavtext > li > a{
  color: #00A160 !important;
  padding-top: 9vh;
  padding-left: 3vw;
  font-weight: 800;
  padding-bottom: 0vh;
}

#botnav{
  background-color: #00A160 !important;
  position: sticky !important;
  top: 0px;
}
#botnavtext > li > a{
  color: white;
}
#botnavtext > li{
  color: white;
}
#topnavLI{
  height: 13vh;
}
#topnavLI > #topnavtext{
  padding-bottom: 5vh;
  padding-top: 1vh;
}

#imglogo{
  padding-top: 6vh;
  height: 90%;
  width: 90%
}
/**********/

/*publicpage*/
.home {
  text-align:center;
  color:#00A160;
  display: grid;
  grid-template-columns: repeat(200,1%);
  grid-auto-rows: auto;
}
.PublicPageHeading{
  background-color: #00A160;
  padding-top: 3%;
  padding-bottom: 2.5%;
  color: white;
  grid-row: 1/10;
  grid-column:1/101;
}

.PublicPageHeading > .Heading{
  font-family: cursive;
  font-size: 500%;

}
.PublicPageHeading > .Text{
  font-size: 150%;
}
.PublicPageMainText {
  text-align: left;
  grid-row: 10/20;
  grid-column: 1/101;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 7%
}
.PublicPageMainText > .MainText{
  color: black;
}
#our_mission{
  grid-row: 10/15;
  grid-column: 1/101;
}
#our_mission > .PublicPageMainText{
  grid-row: 10/15;
  grid-column: 1/101;
}
/***********/